*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  line-height: var(--leading-normal);
  color: var(--color-black);

  background-color: var(--color-white);
}

@media (width >= 1536px) {
  html,
  body {
    font-size: var(--text-base);
  }
}

@media (width >= 1920px) {
  html,
  body {
    font-size: var(--text-lg);
  }
}
