*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  line-height: var(--leading-normal);
  color: var(--color-black);

  background-color: var(--color-white);
}

p {
  margin: 0;
  padding: 0;
}
