:root {
  --color-disabled: hsl(0deg 0% 56%);
  --color-disabled-light: hsl(0deg 0% 76%);
  --color-success: hsl(145deg 63% 42%);
  --color-error: hsl(0deg 100% 50%);
  --color-white: hsl(0deg 0% 100%);
  --color-black: hsl(0deg 0% 7%);
}
