.root {
  color: var(--color-white);
  background-color: var(--color-error);
}

.root:hover {
  background-color: var(--color-error-light);
}

.root:focus-visible {
  background-color: var(--color-error-dark);
  outline: none;
}

.root:active {
  background-color: var(--color-error-dark);
}

.root:disabled {
  cursor: not-allowed;
  border-color: var(--color-disabled);
  color: color-mix(in srgb, var(--color-white) 50%, transparent);
  background-color: var(--color-disabled);
}
